.chat {
    flex: 2;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--border-primary-color);

    .chat-messages {
        flex: 1;
        padding: 10px 5px 5px 10px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        overflow-y: auto;
        /* box-shadow: inset gray 30px 0px 30px -10px; */

        .msg {
            display: flex;
            gap: 10px;
            /* border: 1px solid red; */
            width: 70%;

            img {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                object-fit: cover;
            }

            .msg-time-box {
                display: flex;
                flex-direction: column;
                gap: 5px;

                .msg-img-text-box {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    font-size: 9px;
                    line-height: 13px;
                    font-weight: 100;
                    color: var(--text-secondary-color);
                    padding: 10px;
                    background-color: var(--chat-msg-text-receiver-bg-color);
                    border-radius: 0 8px 8px 8px;
                    max-width: max-content;
                    position: relative;

                    .img-box {
                        width: 320px;
                        height: 200px;
                        position: relative;

                        .download-icon {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translateX(-50%) translateY(-50%);
                            font-size: 40px;
                            color: var(--text-secondary-color);
                            cursor: pointer;
                            transition: all 0.3s ease-in-out;

                            &:hover {
                                color: var(--text-primary-color);
                            }
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 5px;
                        }
                    }
                }

                .msg-img-text-box::before {
                    content: "";
                    display: block;
                    width: 0;
                    height: 0;
                    border-left: 5px solid transparent;
                    border-bottom: 5px solid var(--chat-msg-text-receiver-bg-color); /* Change color as needed */
                    transform: rotate(-90deg);
                    position: absolute;
                    left: -4.5px;
                    top: 0px;
                }

                span {
                    font-size: 8px;
                    font-weight: 400;
                    color: var(--text-primary-color);
                }
            }
        }

        .own {
            flex-direction: row-reverse;
            align-self: flex-end;

            .msg-time-box {
                .msg-img-text-box {
                    color: var(--text-secondary-color);
                    background-color: var(--chat-msg-text-sender-bg-color);
                    align-self: flex-end;
                    border-radius: 8px 0 8px 8px;
                    position: relative;
                }

                .msg-img-text-box::before {
                    display: none;
                }

                .msg-img-text-box::after {
                    content: "";
                    display: block;
                    width: 0;
                    height: 0;
                    border-left: 5px solid transparent;
                    border-bottom: 5px solid var(--chat-msg-text-sender-bg-color); /* Change color as needed */
                    transform: rotate(-180deg);
                    position: absolute;
                    right: -4.5px;
                    top: 0px;
                }

                span {
                    color: var(--text-primary-color);
                }
            }
        }

        .no-msgs-box {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 7px;

            .no-msg-icon {
                font-size: 100px;
                color: var(--text-primary-color);
            }

            p {
                font-size: 12px;
                font-weight: 400;
                color: var(--text-secondary-color);
            }

            span {
                font-size: 10px;
                font-weight: 400;
                color: var(--text-primary-color);
            }
        }
    }

    .footer {
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
        gap: 15px;
        padding: 10px;
        border-top: 1px solid var(--border-primary-color);

        h2 {
            font-size: 10px;
            font-weight: 400;
            color: var(--text-secondary-color);
            margin: 10px auto;
        }

        label {
            line-height: 0px;
        }

        .footer-icons {
            width: 25px;
            height: 25px;
            cursor: pointer;
            transition: all 0.3s;
            color: var(--text-secondary-color);

            &:hover {
                opacity: 0.7;
            }
        }

        form {
            flex: 1;
            display: flex;
            align-items: center;
            gap: 15px;
            position: relative;
            input {
                width: 100%;
                padding: 10px;
                border: none;
                border-radius: 5px;
                outline: none;
                background-color: var(--input-bg-color);
                font-size: 12px;
                font-weight: 400;
                color: var(--text-primary-color);

                &::placeholder {
                    color: var(--input-placeholder-color);
                }

                &:disabled {
                    cursor: not-allowed;
                }
            }

            .sent-img-box {
                position: absolute;
                width: 76%;
                height: 200px;
                bottom: 35px;
                background-color: aliceblue;
                border-radius: 5px;
                overflow: hidden;
                /* padding: 10px; */

                .close-icon {
                    position: absolute;
                    top: 3px;
                    right: 3px;
                    font-size: 25px;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                    color: var(--text-danger-color);

                    &:hover {
                        opacity: 0.7;
                        scale: 1.1;
                    }
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .img-loader-box {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 999;
                    background-color: #e1e1e4;
                    border-radius: 100vh;
                    padding: 2px;
                }
            }

            .emoji-icon-picker-box {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                z-index: 999;

                .emoji-picker {
                    position: absolute;
                    bottom: 30px;
                    left: 10px;
                }
            }
        }
        .send-msg {
            background-color: var(--button-bg-color);
            color: var(--text-secondary-color);
            font-size: 12px;
            font-weight: 400;
            border: none;
            border-radius: 5px;
            padding: 10px;
            cursor: pointer;
            transition: all 0.3s;

            &:hover:not(:disabled) {
                background-color: var(--button-hover-bg-color);
            }

            &:disabled {
                cursor: not-allowed;
                background-color: #87a7f7;
            }
        }
    }

    .no-chat-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* border: 1px solid var(--border-primary-color); */
        border-radius: 5px;
        height: 100%;

        img {
            width: 50%;
            /* height: 20px; */
            cursor: pointer;
            transition: all 0.7s;
            animation: rotate 20s infinite linear;

            &:hover {
                scale: 0.8;
                animation: none;
            }
        }

        h1 {
            font-size: 16px;
            font-weight: 500;
            color: var(--text-primary-color);
        }

        p {
            font-size: 12px;
            font-weight: 400;
            color: var(--text-secondary-color);
            margin-top: 6px;
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 1300px) {
    .chat {
        .chat-messages {
            padding: 15px 10px 5px 15px;
            gap: 20px;

            .msg {
                gap: 15px;

                img {
                    width: 35px;
                    height: 35px;
                }

                .msg-time-box {
                    gap: 6px;

                    .msg-img-text-box {
                        font-size: 11px;
                        line-height: 15px;
                        font-weight: 300;
                        gap: 10px;
                        padding: 13px;
                    }

                    .msg-img-text-box::before {
                        border-left: 8px solid transparent;
                        border-bottom: 8px solid var(--chat-msg-text-receiver-bg-color); /* Change color as needed */
                        left: -7.5px;
                    }

                    span {
                        font-size: 9px;
                    }
                }
            }

            .own {
                .msg-time-box {
                    .msg-img-text-box::before {
                        display: none;
                    }

                    .msg-img-text-box::after {
                        border-left: 8px solid transparent;
                        border-bottom: 8px solid var(--chat-msg-text-sender-bg-color); /* Change color as needed */
                        right: -7.5px;
                    }
                }
            }
        }

        .footer {
            gap: 17px;
            padding: 15px;

            img {
                width: 24px;
                height: 24px;
            }

            form {
                gap: 17px;
                input {
                    padding: 15px;
                    font-size: 14px;
                }
            }
            .send-msg {
                font-size: 14px;
                border-radius: 7px;
                padding: 15px;
            }
        }

        .no-chat-box {
            h1 {
                font-size: 18px;
            }

            p {
                font-size: 14px;
                margin-top: 10px;
            }
        }
    }
}
