.basic-modal {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: var(--input-bg-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
